body {
  background: linear-gradient(10deg, #e5091400 58%, #0d6efd 128%), #000;
  background-repeat: no-repeat;
  color: #fff !important;
  font-weight: bold;
  min-height: 100vh;
}

.form-control,
.form-control:active,
.form-control:focus,
.form-control:hover,
.form-select,
.form-select:active,
.form-select:focus,
.form-select:hover,
textarea {
  font-weight: bold;
  color: #8b8a88 !important;
  background: linear-gradient(10deg, #e5091400 58%, #0d6efd 128%), #000;
  background-repeat: no-repeat;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  font-weight: bold;
  background: linear-gradient(10deg, #e5091400 58%, #0d6efd 128%), #000;
  border-color: #ced4da;
  box-shadow: 0 1px 1px #00000013 inset, 0 0 8px #8b8a88;
  outline: 0 none !important;
}

.btn:active:focus {
  background: linear-gradient(10deg, #e5091400 58%, #0d6efd 128%), #000;
  background-repeat: no-repeat;
  border-color: #0d6efd;
  box-shadow: 0 1px 1px #00000013 inset, 0 0 8px #8b8a88;
  outline: 0 none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #000 inset !important;
  -webkit-text-fill-color: #8b8a88 !important;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
  max-height: calc(4.5em + 2.25rem + 6px);
}

.card {
  font-weight: bold;
  color: #8b8a88 !important;
  background: linear-gradient(10deg, #e5091400 58%, #0d6efd 128%), #000;
  background-repeat: no-repeat;
}

.card-body {
  padding-top: 0 !important;
}

@media (min-width: 768px) {
  form {
    width: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
